

.conteiner{
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
.first{
	background-color: #330000;
	padding: 50px 120px;
}
.hed{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	font-size: 28px;
	color: white;
}
ul{
	display: flex;
}
.list li{
	color: white;
	margin-right: 40px;
}
.last li{
	color: white;
}
.mtavari{
	display: flex;
	position: relative;
	margin-top: 55px;
	justify-content: space-around;
    align-items: center;
}
.arrow1{
	position: absolute;
	width: 20px;
	height: 30px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.arrow2{
	position: absolute;
	width: 20px;
	height: 30px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.txt-div{
	display: flex;
	flex-direction: column;
}
h2{
	font-size: 46px;
	color: white;
	margin-bottom: 30px;
}
.txt{
	color: #979797;
	width: 320px;
	font-size: 12px;
	margin-bottom: 65px;
}
.read-more p{
	color: white;
	font-size: 12px;
	background-color: #76C38F;
	width: 140px;
	padding: 10px;
    border-radius: 10px;
}
.sircl-img{
	border-radius: 50%;
    border: 20px solid grey;
}
.sec{
	background-color: #660000;
	padding: 60px 0;
}
.first-img-div{
	display: flex;
	justify-content: space-between;
}
.img-box{
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}
h4{
	color: #333333;
	font-size: 32px;
	margin: 15px 0;
}
.cent-tit{
	margin-left: 21px;
}
.img-txt{
	width: 150px;
	color: #979797;
	font-size: 12px;
}
.latest{
	position: relative;
	margin: 40px auto;
	height: 51px;
}
.stick{
	width: 100%;
	height: 2px;
	background-color: #303030;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}
.latestt{
	font-size: 32px;
	background-color: #303030;
	border-radius:10px;
	display: inline-block;
	padding: 10px;
	color: white; 
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.sec-img-div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sec-img-box{
	display: flex;
    flex-direction: column;
    border: 5px solid white;
}
.sec-img-box:nth-child(1){
	margin-bottom: 30px;
}
.sec-img-box:nth-child(2){
	margin-bottom: 30px;
}
.sec-img-box:nth-child(3){
	margin-bottom: 30px;
}
.lorem{
	background-color: #000000;
	text-align: center;
	color: white;
	padding: 5px 0;
}
footer{
	padding: 40px 0;
	background-color: #303030;

}
.foot-div{
	display: flex;
	justify-content: space-between;
}
.blog{
	display: flex;
	flex-direction: column;
}
.last-tit{
	font-size: 16px;
	color: white;
	margin-bottom: 35px;
}
h6{
	color: #76C38F;
}
.last-txt{
	width: 230px;
	margin-bottom: 15px;
	color: #979797;
}
.admin{
	color: #76C38F;
}
.red-more{
	color: #76C38F;
}
.ipsum{
	color: #76C38F;
	margin-top: 10px;
}
.ipsum:after{
	content: "";
	display: block;
	width: 225px;
	height: 1px;
	background-color: #404040;
	margin-top: 10px;
}
.namehere{
	width: 220px;
	color: #979797;
}
.contact{
	    width: 169px;
}
input{
	padding: 5px;
    background-color: #222222;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    color: white;
}
textarea{
	background-color: #222222;
	border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    color: white;
}
button{
	padding: 10px;
	background-color: #76C38F;
	border-radius: 8px;
	border: none;
}
.the-last{
	background-color: #222222;
	padding: 20px 0;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.copy{
	color: #979797;
	font-size: 13px;
}